/* Font Family *
/* Caviar Fonts */
@font-face {
  font-family: "Caviar Dreams Bold";
  src: local("Caviar-Dreams"),
    url("../assets/fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Caviar Dreams Bold Italic";
  src: local("Caviar-Dreams"),
    url("../assets/fonts/Caviar-Dreams/CaviarDreams_BoldItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Caviar Dreams Italic";
  src: local("Caviar-Dreams"),
    url("../assets/fonts/Caviar-Dreams/CaviarDreams_Italic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Caviar Dreams";
  src: local("Caviar-Dreams"),
    url("../assets/fonts/Caviar-Dreams/CaviarDreams.ttf") format("truetype");
}

/* Metropolis Font */

@font-face {
  font-family: "Metropolis 1920";
  src: local("Metropolis 1920"),
    url("../assets/fonts/METROPOLIS 1920/Metropolis 1920.otf")
      format("truetype");
}

/* Josefin-Sans Font */

@font-face {
  font-family: "Josefin-Sans-regular";
  src: local("Josefin-Sans"),
    url("../assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf")
      format("truetype");
}

/* Open Sans Condensed */

@font-face {
  font-family: "Open-Sans-Condensed";
  src: local("Open-Sans-Condensed"),
    url("../assets/fonts/open-sans-condensed/OpenSans-CondLight.ttf")
      format("truetype");
}

@font-face {
  font-family: "Open-Sans-Condensed";
  src: local("Open-Sans-Condensed-Bold"),
    url("../assets/fonts/open-sans-condensed/OpenSans-CondBold.ttf");
}

@font-face {
  font-family: "Open-Sans-Condensed-Italic";
  src: local("Open-Sans-Condensed-LigthItalic"),
    url("../assets/fonts/open-sans-condensed/OpenSans-CondLightItalic.ttf");
}

/* body, html */
/* Font Family */

/* Caviar Fonts */
@font-face {
  font-family: "Caviar Dreams Bold";
  src: local("Caviar-Dreams"),
    ("/fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams Bold Italic";
  src: local("Caviar-Dreams"),
    url("/fonts/Caviar-Dreams/CaviarDreams_BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams Italic";
  src: local("Caviar-Dreams"),
    url("/fonts/Caviar-Dreams/CaviarDreams_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams";
  src: local("Caviar-Dreams"),
    url("/fonts/Caviar-Dreams/CaviarDreams.ttf") format("truetype");
}

/* Metropolis Font */

@font-face {
  font-family: "Metropolis 1920";
  src: local("Metropolis 1920"),
    url("/fonts/METROPOLIS 1920/Metropolis 1920.otf") format("truetype");
}

/* Josefin-Sans Font */

@font-face {
  font-family: "Josefin-Sans-regular";
  src: local("Josefin-Sans"),
    url("/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf") format("truetype");
}

/* Open Sans Condensed */

@font-face {
  font-family: "Open-Sans-Condensed";
  src: local("Open-Sans-Condensed"),
    url("/fonts/open-sans-condensed/OpenSans-CondLight.ttf") format("truetype");
}

@font-face {
  font-family: "Open-Sans-Condensed";
  src: local("Open-Sans-Condensed-Bold"),
    url("/fonts/open-sans-condensed/OpenSans-CondBold.ttf");
}

@font-face {
  font-family: "Open-Sans-Condensed-Italic";
  src: local("Open-Sans-Condensed-LigthItalic"),
    url("/fonts/open-sans-condensed/OpenSans-CondLightItalic.ttf");
}

/* body, html */
/* Font Family */

/* Caviar Fonts */
@font-face {
  font-family: "Caviar Dreams Bold";
  src: local("Caviar-Dreams"),
    url("/fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams Bold Italic";
  src: local("Caviar-Dreams"),
    url("/fonts/Caviar-Dreams/CaviarDreams_BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams Italic";
  src: local("Caviar-Dreams"),
    url("/fonts/Caviar-Dreams/CaviarDreams_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams";
  src: local("Caviar-Dreams"),
    url("/fonts/Caviar-Dreams/CaviarDreams.ttf") format("truetype");
}

/* Metropolis Font */

@font-face {
  font-family: "Metropolis 1920";
  src: local("Metropolis 1920"),
    url("/fonts/METROPOLIS 1920/Metropolis 1920.otf") format("truetype");
}

/* Josefin-Sans Font */

@font-face {
  font-family: "Josefin-Sans-regular";
  src: local("Josefin-Sans"),
    url("/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf") format("truetype");
}

/* Open Sans Condensed */

@font-face {
  font-family: "Open-Sans-Condensed";
  src: local("Open-Sans-Condensed"),
    url("/fonts/open-sans-condensed/OpenSans-CondLight.ttf") format("truetype");
}

@font-face {
  font-family: "Open-Sans-Condensed";
  src: local("Open-Sans-Condensed-Bold"),
    url("/fonts/open-sans-condensed/OpenSans-CondBold.ttf");
}

@font-face {
  font-family: "Open-Sans-Condensed-Italic";
  src: local("Open-Sans-Condensed-LigthItalic"),
    url("/fonts/open-sans-condensed/OpenSans-CondLightItalic.ttf");
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

footer {
  background-color: darkgray;
  color: white;
  padding: 15px 0;
}

header {
  background-color: lightgrey;
  padding: 10px 0;
}

/* layout styles prefixed with y- */

.y-wrap {
  margin: 0 auto;
  width: 90%;
}

.y-navs {
  display: flex;
  align-items: center;
}

.y-navs a:first-of-type {
  flex: 1;
}

.y-navs a:not(:first-of-type) {
  margin: 0 0 0 16px;
}
li .active {
  color: #d0af3d;
}
