.redirectSpecialsContainer {
  display: flex;
  flex-direction: column;
  width:100%;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
}

.titleContainer {
  display: flex;
  font-family: "Caviar Dreams";
  font-size: 45px;
  padding: 50px 0px 50px 0px;
  justify-content: center;
  column-gap: 2%;
}

.specialTitle{
  color: #000;
font-family: Caviar Dreams;
font-size: 45px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 2.25px;
text-transform: uppercase;
}


.keep-up{
  display: flex;
  color: #D0AF3D;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
  justify-content: center;
}
.insta{
  color: #D0AF3D;
  font-family: Josefin Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-decoration-line: underline;
  text-transform: lowercase;
}
.description{
  display: flex;
  color: #5A5252;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 181.818% */
  width: 523px;
}
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 692px;
  height: 866px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid #F5F2E8;
  background: #FFF;
}

.order {
  display: flex;
  column-gap: 20px;
  width: 700px;
  justify-content: center;
  font-weight: bold;
}

.orderLink {
  text-decoration: underline;
  /* width: 1000px; */
  /* display: flex; */
  flex-wrap: nowrap;
}

.spacer4 {
  width: 1px;
  height: 1px;
}

.instaLink {
  text-decoration: underline;
  color: #F2C94C;
}

.orderpay {
   font-family: "Caviar Dreams";
   font-size: 22px;
   font-weight: bold;
   color: #F2C94C;
}

.specials {
  display: flex;
  column-gap: 20px;
  font-weight: bold;
}

.spacer {
  width: 275px;
}

.lineDeco {
  height: 24px;
  width: 52px;
  margin-top: 15px;
}

.yellowContainer {
  display: flex;
  font-family: "Caviar Dreams";
  font-size: 22px;
  justify-content: center;
  width: 100%;
  font-weight: bold;
  color: #F2C94C;
}

.specialsURL {
    /* width: 1000px; */
}

.specialsBottom {
  width: 100%;
  display: flex;
  column-gap: 5px;
}

.spacer1 {
  max-width: 5px;
  height: 0px;
}

.uberContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Caviar Dreams";
  font-size: 22px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.uberEats {
  text-align: center;
  font-family: "Caviar Dreams";
  font-weight: bold;
}

.squareImageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.uber {
  height: 464px;
  width: 464px;
}

.specialsImage {
  height: 464px;
  width: 464px;
}

.socialLinksContainer {
  display: flex;
  justify-content: center;
  font-family: "Caviar Dreams";
  font-weight: bold;
  font-size: 20px;
}

.spacer2 {
  width: 138px;
}

.facebook {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.instagram {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.twitter {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.rightSocial {
  display: flex;
  height: 5%;
  align-items: center;
}

.spacer3 {
  width: 30px;
}

.spacer4 {
  max-width:25px;
}


.followUs {
  color: #000;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.insta {
  color: #F2C94C;
  cursor: pointer;
}

.tweet {
  color: #F2C94C;
  cursor: pointer;
}