/* body, html */

body,
html {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 0;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer {
  background-color: darkgray;
  color: white;
  padding: 15px 0;
}

header {
  background-color: lightgrey;
  padding: 10px 0;
}

/* layout styles prefixed with y- */

.y-wrap {
  margin: 0 auto;
  width: 90%;
}

.y-navs {
  display: flex;
  align-items: center;
}

.y-navs a:first-of-type {
  flex: 1;
}

.y-navs a:not(:first-of-type) {
  margin: 0 0 0 16px;
}
