/* body, html */
/* Font Family */

/* Caviar Fonts */
@font-face {
  font-family: "Caviar Dreams Bold";
  src: local("Caviar-Dreams"),
    url("../assets/fonts/Caviar-Dreams/Caviar_Dreams_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams Bold Italic";
  src: local("Caviar-Dreams"),
    url("../assets/fonts/Caviar-Dreams/CaviarDreams_BoldItalic.ttf") format("truetype")
}

@font-face {
  font-family: "Caviar Dreams Italic";
  src: local("Caviar-Dreams"),
    url("../assets/fonts/Caviar-Dreams/CaviarDreams_Italic.ttf") format("truetype")
}

@font-face {
  font-family: "Caviar Dreams";
  src: local("Caviar-Dreams"),
    url("../assets/fonts/Caviar-Dreams/CaviarDreams.ttf") format("truetype")
}

/* Metropolis Font */

@font-face {
  font-family: "Metropolis 1920";
  src: local("Metropolis 1920"),
    url("../assets/fonts/METROPOLIS 1920/Metropolis 1920.otf") format("truetype")
}

/* Josefin-Sans Font */

@font-face {
  font-family: "Josefin-Sans-regular";
  src: local("Josefin-Sans"),
    url("../assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf") format("truetype")
}

/* Open Sans Condensed */

@font-face {
  font-family: "Open-Sans-Condensed";
  src: local("Open-Sans-Condensed"),
    url("../assets/fonts/open-sans-condensed/OpenSans-CondLight.ttf") format("truetype")
}

@font-face {
  font-family: "Open-Sans-Condensed";
  src: local("Open-Sans-Condensed-Bold"),
    url("../assets/fonts/open-sans-condensed/OpenSans-CondBold.ttf")
}

@font-face {
  font-family: "Open-Sans-Condensed-Italic";
  src: local("Open-Sans-Condensed-LigthItalic"),
    url("../assets/fonts/open-sans-condensed/OpenSans-CondLightItalic.ttf")
}
body,
html {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

footer {
  background-color: darkgray;
  color: white;
  padding: 15px 0;
}

header {
  background-color: lightgrey;
  padding: 10px 0;
}

/* layout styles prefixed with y- */

.y-wrap {
  margin: 0 auto;
  width: 90%;
}

.y-navs {
  display: flex;
  align-items: center;
}

.y-navs a:first-of-type {
  flex: 1;
}

.y-navs a:not(:first-of-type) {
  margin: 0 0 0 16px;
}


li .active {
  color: #d0af3d;
}

/* Testimonials Styling */

.imageCarousel {
  display: flex;
  flex-direction: column;
  font-family: "Caviar Dreams Bold";
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 950px;
  overflow: hidden;
  position: relative;
  Background-color: black;
  opacity: 0.90;
  background-image: url("../assets/blacklogo.png");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-top: 400px;
  padding-bottom: 400px;
}

.dots {
  
}

.testSubTitle {
  font-size: 30px;
  color: white;
  font-family: "Josefin-Sans-regular";
  font-weight:400;
  text-align:center;
  white-space: nowrap;
  color: #d0af3d;
}
.testHeadContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.testHeadContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.testTitle {
  display: flex;
  height: 70px;
  width: 510px;
  padding-left: 20px;
  color: white;
  font-family: "Caviar Dreams Bold";
  font-size: 55px;
  font-weight: 700px;
  

}

.testTitle2 {
  padding-top: 40px;
  letter-spacing: 0px;
  font-family: "Josefin-Sans-regular";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;

}

.openquote {
  flex: 0.25;
  height: 21px;
  width: 25px;
  padding: 2px;
  position: start;
  /* align-self: left; */
  /* position: relative; */
  /* flex-wrap: wrap; */
  /* left: 650px; */
  /* align-self: left; */
}

.closequote {
    flex: 0.25;  
    height: 21px;
    width: 25px;
    padding: 2px;
    position: end;
    /* position: relative; */
    /* position: absolute;
    right: 650px; */
}
.lineDeco {
  height: 10.5px;
  width: 49px;
}

.quoteContainer {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  align-items: center;
  width: 100%; 
  /* column-gap: 1px; */
  /* flex-wrap: wrap; */
  /* padding: 35px; */
  margin: 0 auto;
  /* margin: 50 50 50 50; */
}
.quoteBox {
  /* min-width: 550px; */
  min-width: 650px;
  display: flex;
  /* flex-direction: column; */
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}
.quoteControl {
  display: flex;
  /* flex: 20; */
  flex-direction: column;
  width: 650px;
  
}
.imageContainer {
  display: flex;
  flex-direction: column;
  /* flex:1; */
  width: 100%;
  text-align: center;
  align-items: center;
}

.quote {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Caviar Dreams Bold";
  max-width: 750px;
  height: 10px;
  /* margin: 0 auto; */
  
}

.image-pic {
  display: flex;
  max-width: 245px;
  max-height: 245px;
  align-self: center;
  /* margin-left: 38%; */
  justify-content: center;
  
}

.quotes {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: "Caviar Dreams Bold";
  width: 750px;
  /* margin: 0 auto; */
}

.name {
  font-size: 20px;
  font-family: "Josefin-Sans-regular";
  font-style: italic;
  font-weight: lighter;
  align-self: center;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  column-gap: 20px;
  row-gap: 10px;
  color: white;
  }

  .button1 {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 22px;
    font-family: "Caviar Dreams Bold";
    padding:2px  40px;
    color: white;
  }

    .button2 {
      background-color: transparent;
      border: 2px solid white;
      border-radius: 25px;
      font-size: 22px;
      font-family: "Caviar Dreams Bold";
      padding: 2px 40px;
      color: white;
    }

